__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
.venv/
venv/
sb3_env/

results/**
!results/.gitkeep
third_party/pymarl/results/
src/dqn/training_experiments/
src/fdqn/training_experiments/

data/raw/
data/intermediate/
*.pth
*.pt
*.th
events.out.tfevents.*
*.log
*.out
*.err

.DS_Store
